<div class="text-center">
  <div class="intro">
    <h1>Restaurants list</h1>
    <%= link_to "Add a new restaurant", new_restaurant_path %>
  </div>

  <div class="content">
    <div class="row">
        <% @restaurants.each do |restaurant| %>
          <div class="col-xs-12 col-lg-offset-2 col-lg-4 ">
            <div class="card">
              <h2><%= restaurant.name %></h2>
              <p><%= restaurant.category %></p>
              <%= link_to 'details', restaurant_path(restaurant) %>
              <%= link_to 'edit', edit_restaurant_path(restaurant) %>
              <br>
              <%= link_to 'add a review', new_restaurant_review_path(restaurant) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
